.footer-container {
  border-top: 1px solid rgba(176, 190, 197, 0.5);
  height: 50px;
  background-color: #708090;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}