.header-container {
  height: 120px;
  padding: 0 125px;
  // border-bottom: 0.2px #B0BEC5 solid;
  border-bottom: 1px solid rgba(176, 190, 197, 0.5);
  display: flex;
  color: #667085;
  font-size: 16px;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;

  .header-left {
    h1 {
      font-size: 2.5em;
      font-family: "Exo", serif;
      color: #66D37E;
    }
  }
  .header-right {
    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style: none;
        margin: 0 30px;
        font-size: 1.5em;
      }
    }
  }
}