.mealRow-container {
  width: 850px;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px 0;
  font-size: 1.2em;
  line-height: 1.5em;
  .meal-name {
    // flex: 2;
    
    width: 300px;
  }
  .meal-quantity { 
    width: 40px;
  }
  // .formQty {
  //   max-width: 35px;
  // }
  .meal-size {
    flex: 1;
    width: 100px;
  }
  .meal-calories,
  .meal-protein,
  .formStats
  {
    display: flex;
    align-items: center;
    flex: 1;
    width: 55px;
  }
  .meal-options {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      border: none;
      background-color: inherit;
    }
    .submit-btn {
      height: 30px;
      width: 30px;
      // color: #7ed957;
      transition: 0.3s;
    }
    .submit-btn:hover {
      color: #228b22;
      transform: scale(1.3);
    }
    .submit-btn.noShow {
      visibility: hidden;
    }
    .remove-btn {
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: #ff726f;
      transition: 0.3s;
    }
    .remove-btn:hover {
      transform: scale(1.3);
      color: #dc3545;
    }


  }
}
// .mealRow-container input,
// .mealRow-container select,
// .mealRow-container div {
//   padding: 0; /* Ensure padding is consistent */
//   margin: 0; /* Remove any margin */
//   height: 100%; /* Ensure consistent height */
//   line-height: 1.5rem; /* Match vertical alignment */
// }
