.meal-container {
  margin: 10px 0 20px;
  padding: 10px;
  min-height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  .meal-title {
    width: 200px;
  }
  .meal-pic {
    width: 200px;
    height: 200px;
    border: 1px red solid;
  }
  .meal-content {
    .meal-label {
      width: 850px;
      display: flex;
      font-size: 1.2em;
      font-weight: 600;
      justify-content: center;
      gap: 1rem;
      .label-name {
        // flex: 2;
        width: 300px;
      }
      .label-quantity {
        // flex: 1;
        width: 40px;
      }
      .label-size {
        flex: 1;
        width: 100px;
      }
      .label-calories {
        flex: 1;
      }
      .label-protein {
        flex: 1;
      }
      .label-options {
        width: 100px;
      }
    }
    .sum-container {
      .sum-line {
        border-bottom: 2px rgb(82, 10, 10) solid;
        margin-bottom: 10px;
      }
    }
  }
  .addEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    .plus {
      margin-top: 15px;
      width: 30px;
      height: 30px;
      color: black;
      border-radius: 50%;
    }
    .plus:hover {
      background-color: grey;
      color: white;
      cursor: pointer;
    }
  }

}