.profile-options {
  margin-top: 35px;
  width: 15%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-feedback {
  margin-top: 35px;
  color: #66D37E;
  width: 15%;
  max-width: 200px;
  display: flex;
  justify-content: center;
}
.profile-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.yes {
  color: #7ed957;
}
.yes:hover {
  color: #228b22;
  transform: scale(1.2);
}
.no {
  color: #ff726f;
}
.no:hover {
  color: #dc3545;
  transform: scale(1.2);
}

.profile-container {
  // height: calc(100vh - 100px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  h1 {
    font-family: "Exo", serif;
  }
  .custom-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
    width: 100%;
    p {
      margin: 25px 0;
      width: 50%;
      font-size: 0.8em;
    }
    .custom-answers{
      width: 50%;
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
    }
    input {
      width: 80px;
      text-align: center;
    }
    .custom-protein {
      input {
        width: 65px;
      }
    }


  }
  .info-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 25px;
    p {
      margin: 25px 0;
      width: 50%;
      font-size: 0.8em;
    }
    
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .profile-card {
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .profile-question {
        margin-bottom: 10px;
      }
    }
    .profile-btn {
      background: none;
      border: 1px black solid;
      padding: 7px 12px;
      font-size: 0.8em;
      cursor: pointer;
      border-radius: 4px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .profile-btn:hover {
      background-color: lightgreen;
    }
    .profile-btn.selected {
      background-color: lightgreen;
      border: 1px white solid;
    }
    input {
      border: none;
      border-bottom: 1px black solid;
      width: 55px;
      text-align: center;
    }
    .profile-name {
      input {
        width: 250px;
      }
    }
    .profile-age {
      .age-answer {
  
      }
    }
    .profile-sex {
      .sex-answer {
        display: flex;
        align-items: center;
        .sex-female, .sex-male {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          height: 100%;
          .sex-icon {
            width: 50px;
            height: 50px;
          }
        }
        button {
          margin: 10px;
        }
      }
    }
    .profile-height {
      input {
        width: 45px;
        margin-left: 10px;
      }
      .height-metric {
        input {
          width: 65px;
        }
      }
      .height-option {
        display: flex;
      }
    }
    .profile-weight {
      .weight-answer {
        input {
          width: 75px;
        }
      }
      .weight-options {
        display: flex;
      }
    }
    .profile-lifestyle {
      .lifestyle-answer {
        display: flex;
      }
    }
    .profile-goal {
      .goal-answer {
        display: flex;
      }
    }
    .profile-submit {
      cursor: pointer;
      background-color: white;
      border: none;
      // border-radius: 4px;
      // padding: 5px;
      // border: 2px black solid;
      // font-size: 0.8em;
    }
    .profile-submit:hover {
      // background-color: lightgreen;
    }
  
  }
}
