.profile-options {
  margin-top: 35px;
  width: 15%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-feedback {
  margin-top: 35px;
  color: #66D37E;
  width: 15%;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.profile-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  color: #7ed957;
}

.yes:hover {
  color: #228b22;
  transform: scale(1.2);
}

.no {
  color: #ff726f;
}

.no:hover {
  color: #dc3545;
  transform: scale(1.2);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
.profile-container h1 {
  font-family: "Exo", serif;
}
.profile-container .custom-goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 25px;
  width: 100%;
}
.profile-container .custom-goals p {
  margin: 25px 0;
  width: 50%;
  font-size: 0.8em;
}
.profile-container .custom-goals .custom-answers {
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.profile-container .custom-goals input {
  width: 80px;
  text-align: center;
}
.profile-container .custom-goals .custom-protein input {
  width: 65px;
}
.profile-container .info-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 25px;
}
.profile-container .info-form p {
  margin: 25px 0;
  width: 50%;
  font-size: 0.8em;
}
.profile-container .info-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container .info-form .profile-card {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container .info-form .profile-card .profile-question {
  margin-bottom: 10px;
}
.profile-container .info-form .profile-btn {
  background: none;
  border: 1px black solid;
  padding: 7px 12px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.profile-container .info-form .profile-btn:hover {
  background-color: lightgreen;
}
.profile-container .info-form .profile-btn.selected {
  background-color: lightgreen;
  border: 1px white solid;
}
.profile-container .info-form input {
  border: none;
  border-bottom: 1px black solid;
  width: 55px;
  text-align: center;
}
.profile-container .info-form .profile-name input {
  width: 250px;
}
.profile-container .info-form .profile-sex .sex-answer {
  display: flex;
  align-items: center;
}
.profile-container .info-form .profile-sex .sex-answer .sex-female, .profile-container .info-form .profile-sex .sex-answer .sex-male {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 100%;
}
.profile-container .info-form .profile-sex .sex-answer .sex-female .sex-icon, .profile-container .info-form .profile-sex .sex-answer .sex-male .sex-icon {
  width: 50px;
  height: 50px;
}
.profile-container .info-form .profile-sex .sex-answer button {
  margin: 10px;
}
.profile-container .info-form .profile-height input {
  width: 45px;
  margin-left: 10px;
}
.profile-container .info-form .profile-height .height-metric input {
  width: 65px;
}
.profile-container .info-form .profile-height .height-option {
  display: flex;
}
.profile-container .info-form .profile-weight .weight-answer input {
  width: 75px;
}
.profile-container .info-form .profile-weight .weight-options {
  display: flex;
}
.profile-container .info-form .profile-lifestyle .lifestyle-answer {
  display: flex;
}
.profile-container .info-form .profile-goal .goal-answer {
  display: flex;
}
.profile-container .info-form .profile-submit {
  cursor: pointer;
  background-color: white;
  border: none;
}/*# sourceMappingURL=profile.css.map */